<%
title = 'タイトル';
description = '説明文';
rootPath = './assets/';
rootPathCss = './assets/css';
noindex = false;//noindexの制御;
url = 'https://static.chunichi.co.jp/chunichi/pages/event/domedodge/';
%>

<!DOCTYPE html>
<html lang="ja">
<%- include(rootPath + '_head') %>

<body class="page">

<%- include(rootPath + '_header') %>
<section>
  <picture class="omikuji_ttl">
    <source
    media="(min-width: 1000px)"
    type="image/webp"
    width="380"
    height="136"
    srcset="./img/item_02-ttl_min.webp 1x,./img/item_02-ttl.webp 2x"
    >
    <source
    media="(max-width: 767.98px)"
    type="image/webp"
    width="250"
    height="89"
    srcset="./img/item_02-ttl_minSp.webp 1x,./img/item_02-ttl_min.webp 2x"
    >
    <img alt="吉" 
    src="./img/item_02-ttl.webp"
    width="501"
    height="179"
    decoding="async"
    loading="lazy"
    >
  </picture>
</section>
<%- include(rootPath + '_footer') %>

</body>
</html>