<%
title = 'タイトル';
description = '説明文';
rootPath = './assets/';
rootPathCss = './assets/css';
noindex = false;//noindexの制御;
url = 'https://static.chunichi.co.jp/chunichi/pages/event/domedodge/';
%>

<!DOCTYPE html>
<html lang="ja">
<%- include(rootPath + '_head') %>

<body class="page">

<%- include(rootPath + '_header') %>
<section>
  ページ内容
</section>
<%- include(rootPath + '_footer') %>

</body>
</html>