.container{
    padding: 0 15px 0 15px;
    margin: 0 auto;
}
.inner{
	max-width: 880px;
	margin: 15px auto;
	text-align: center;
	// font-family: "Yu Gothic","游ゴシック体", YuGothic,"Yu Gothic Medium", "游ゴシック Medium", "游ゴシック", sans-serif;
	// font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", sans-serif;
}